**/__pycache__
*.egg-info
data.json
config.yml

# coverage based artifacts
htmlcov
.coverage
coverage.lcov

# build specific artifacts
dist

# Virtual environments
venv
.venv

# Test/lint caches
.pytest_cache
.ruff_cache
.mypy_cache

# IDE-specific directories
.vscode
.idea
*~
